body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 7px dashed white;
  border-radius: 25px;
  background-color: black;
  color: white;
}

.balda {
  color: black;
  font-size: 10px;
}

nav a {
  background-color: gray;
  border-radius: 10px;
  border: 4px solid white;
  padding: 4px 10px;
  text-decoration: none;
  color: white;
  margin: 250px;
}