body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  color: rgb(138, 7, 7);
  font-size: 20px;
  background-color: #97101057;
}

h1 {
  color:rgb(212, 18, 18);
}

footer {
  background-color: black;
  color: white;
  font-size: 20px;
}